# Virtual enviroments
.venv/
venv/
env/

# Python and Jupyter cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Results and local data
results/

# Construction and packaging artifacts
*.egg-info/
.eggs/
build/
dist/